@CHARSET "ISO-8859-1";

html {
	color: #2E2E2E;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #F2F2F2;
}

body {
	margin: 0px;
	padding: 0px;
	height: 100%;
}

.header {
	padding: 20px;
	width: 100%;
	text-align: center;
	background-color: #F2F2F2;
	color: #424242;
}

.body {
	margin: 10px;
}

.footer {
	clear: both;
	position: inherit;
	bottom: 0;
	left: 0;
	text-align: center;
	width: 100%;
	height: 20px;
	background-color: #808080;
	color:#fff;
}


.prodheading {
	width: 100%;
	height: 20px;
	background-color: #808080;
	color: #fff;
	text-align: center;
	vertical-align: middle;
}

.prodContainer {
	position: inherit;
	height: auto;
	float: left;
}

table {
	width: 80%;
	margin-top: 20px;
}

td, td.center-col {
	height: 40px;
}

td.center-col {
	text-align: center;
}

td.right-col {
	text-align: right;
	padding-right: 15px;
}

td.left-col {
	padding-left: 15px;
}

th {
	color: #424242;
	border:1pt solid #808080;
}

td.tot {
	color: #424242;
	border:1pt solid #808080;
}

.title {
  background-color: #4CAF50;
  border: none;
  color: white;
}

hr {
  width: 50%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));  
}

.tableContainer {
	margin-left:auto; 
    margin-right:auto;
}

.wrapper {
	padding: 10px;
	text-align: center;
}

.wrapper div {
	padding: 10px;
}

.circle {
	border-radius: 50%;	
    width: 250px;
    height: 250px;
}

.button-bar {
	float:left;
	clear: both;
}

.explanation {
	font-style:italic;
}

.confirmation {
	text-align: center;
}
